<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508875260457-rijc9pfjv0t8ga343eq07sba6q1s9pof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508875260457-rijc9pfjv0t8ga343eq07sba6q1s9pof</string>
	<key>API_KEY</key>
	<string>AIzaSyBmUi40Zvad_foSnaAb1NAuj7FrpVPL4vY</string>
	<key>GCM_SENDER_ID</key>
	<string>508875260457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.com.education</string>
	<key>PROJECT_ID</key>
	<string>learnoos</string>
	<key>STORAGE_BUCKET</key>
	<string>learnoos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508875260457:ios:6937ecf5a3fe8fef6b1238</string>
	<key>DATABASE_URL</key>
	<string>https://learnoos.firebaseio.com</string>
</dict>
</plist>